body {
	background-color: #ecf0f1;
	margin: 0;
	padding: 0;
	border: none;
}
#sweg	 {
	font-size: 2vw;
	height: 100%;
	width:25vw;
	text-align: center;
	display: inline-block;
}
#sweg p{
	top:2vh;
	position: relative;
}
table, th, td{
	padding:5px;
}
.user{
	display: inline;
}
.title{
	display: inline;
}
#bar a{
	color:black;
}
#posts{
	overflow:none;
	word-break: break-all;
}
.posts{
	border: 2px gray solid;
	border-radius:5px;
}
ul.share-buttons{
  list-style: none;
  padding: 0;
}

.navbar {
	background-color:#2ecc71;
	border-radius: 0;
	right: 0px;
	left: 0px;
	top:0px;
}
a.downloadz {
	display:inline-block;width:120px;color:#333333;text-decoration:none;
}

div.downloadz {
	width:100px;height:200px;
}

.dz-image img {
    background-color:green;
}
