<html>
	<head>
		<title>Brian's fantastic website!!!!!!!</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script type="text/javascript" language="javascript" src="static/bootstrap.min.js"></script>
		<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">	
	</head>
	<body>
		<h1>Brian is absoutely splendidly fantasticly backflipalicious</h1>
		<h3>Brian's favourite video:</h3>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/4Gbj_ig09WQ" frameborder="0" allowfullscreen></iframe>
	</body>
</html>
