<html>
	<head>
	<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">                                                                          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>                                                       <script type="text/javascript" language="javascript" src="static/bootstrap.min.js"></script>
    <link href="static/style.css" rel="stylesheet" media="screen">
	<title>CSD sports</title>
	</head>
	<body>
	<center>
	<div style="w	<idth:60%;border-radius:5px;left:50%;top:50%;transform: translate(-50%,-50%);position:absolute;" class="jumbotron">
 		<h1>Custom Sports Gear</h1>
		<p>Custom gear with any text you can possibly imagine</p>
 		 <p><a class="btn btn-primary btn-lg" href="/csdget" role="button">Get one now</a></p>
		</div>
	</center>
	</body>
</html>
