{% extends "base.html" %}
{% block content %}
<h1>Help</h1>
<h2>Uploading</h2>
<div class="media">
    <div class="media-left">
	<a href="#">
	    <img class="media-object" style="border-radius:10px;width:300px;" src="/static/images/upload_link.png" alt="...">
	</a>
    </div>
	<div class="media-body">
	    <h4 class="media-heading">Select upload</h4>
            Click on <b>Upload</b> beside <b>Cyberstick</b>
	</div>
</div>
<div class="media">
    <div class="media-left">
	<a href="#">
	    <img class="media-object" style="border-radius:10px;width:300px;" src="/static/images/dragging_file.png" alt="...">
	</a>
    </div>
	<div class="media-body">
	    <h4 class="media-heading">Add files</h4>
            Drag your files in from your favourite file browser or click on the space to upload files.
	</div>
</div>
<div class="media">
    <div class="media-left">
	<a href="#">
	    <img class="media-object" style="border-radius:10px;width:300px;" src="/static/images/share_links.png" alt="...">
	</a>
    </div>
	<div class="media-body">
	    <h4 class="media-heading">Share</h4>
            At the bottom of the upload page, there are <b>Skype</b> and <b>Twitter</b> share buttons. Click on one and share your session with friends. The <b>Download Link</b> under the upload box goes to the download page also for other sharing systems.
	</div>
</div>
{% endblock %}
