<html>
		<head>
				<title>Eetu's awesome website</title>
				<link href="css/stylesheet.css" rel="stylesheet" />
		</head>
		<body>
				<p id="mainText">Welcome to my website</p>
				<img src="http://bestanimations.com/Animals/Birds/Penguins/animated-penguin-gif-5.gif" id="img" />
				<button onClick="alert('What just happened?!');">Click</button>
				<button onClick="alert('Hi');">Click</button>
				<button onClick="alert('I');">Click</button>
				<button onClick="alert('am');">Click</button>
				<button onClick="alert('Cool');">Click</button>
				</body>
</html>