{% extends "base.html" %}
{% block content %}
<div class="alert alert-info alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<strong>Hey!</strong> Check out our brand new <a class=".alert-link" href="https://github.com/finbargiusti/cyberApi-installer", target="_blank">Cyberstick CLI API</a>.
</div>
<h2>Welcome to Cyberstick!</h2>
<br/>
<center>
	<img src="static/images/logo.png" style="max-width:80%"/>
</center>
<h4>Cyberstick is a website for temporary cloud storage.<br/>
What is special is that it is anonymous.</h4>
Share: 
<ul class="share-buttons">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcyberstick.tk&t=Try%20out%20CyberStick!" title="Share on Facebook" target="_blank"><img src="static/images/images/social_flat_rounded_rects_svg/Facebook.svg"></a></li>
  <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fcyberstick.tk&text=Try%20out%20CyberStick!:%20http%3A%2F%2Fcyberstick.tk" target="_blank" title="Tweet"><img src="static/images/images/social_flat_rounded_rects_svg/Twitter.svg"></a></li>
  <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fcyberstick.tk" target="_blank" title="Share on Google+"><img src="static/images/images/social_flat_rounded_rects_svg/Google+.svg"></a></li>
</ul>
{% endblock %}
