{% extends "base.html" %}
{% block content %}
<h1>Manage</h1>
<ul class="list-group">
{% for n in range(sessions|length) %}
    <li class="list-group-item">
    <a href="/upload/{{ sessions[n] }}" class="badge"><span>Edit</span></a>
    <a href="/delete/{{ sessions[n] }}" class="badge"><span>Delete</span></a>
    {{ sessions[n] }}&emsp;&emsp;&emsp;&emsp;&emsp;Time left: {{ times[n] }}
    </li>
{% endfor %}
{% if sessions|length == 0 %}
    <h2>&nbsp;&nbsp;Looks like nothing's there!</h2> 
{% endif %}
{% endblock %}
