{% extends "base.html" %}
{% block content %}
<h1>Manage</h1>
<h3>What is this?</h3>
<p>&nbsp;&nbsp;&nbsp;Cyberstick is a temporary cloud server. What this means is that you can store files here for 15 minutes to have someone download them and then forget about them. This can be used among friends; if you want to share a song you just made in garageband, pop it into Cyberstick and give them the three word key. What if you wanted to move a photo onto your computer from your phone and don't have a cable handy? This website works perfectly on mobile devices and should not cause any problems.</p>
<p style="color:white;">Try &#8593;&#8593;&#8595;&#8595;&#8592;&#8594;&#8592;&#8594;BA!</p>
{% endblock %}
