{% extends "base.html" %}
{% block content %}
<div class="buy">
    <h1>Buy sessions</h1>
    <form action="/buy" method="post">
    I want <input type="text" name="sessions" class="inline" value="100"></input> sessions please!<br/>
    <strong>Note:</strong> sessions cost 1c each.<br/>
        <input type="submit" value="Checkout"></input>
    </form>
</div>
<br/><br/><br/>
<div id="buy">
    <h1>Add uses to your session</h1>
    <form action="/buy" method="post">
        I want <input type="text" name="sessions" class="inline" value="100"></input> sessions please!<br/><br/>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">&#9919;</span>
            <input type="text" class="form-control" name=username placeholder="Insert key here" aria-describedby="basic-addon1">
        </div><br/>
        <strong>Note:</strong> sessions cost 1c each.<br/>
        <input type="submit" value="Checkout"></input>
    </form>
</div>
{% endblock %}
