{% extends "base.html" %}
{% block content %}
<div class="buy">
    <h1>Buy sessions</h1>
    <form action="/buy" method="post">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Sessions</span>
            <input type="text" class="form-control" name="sessions" placeholder="Insert required sessions here" aria-describedby="basic-addon1">
        </div><br/>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">&#9919;</span>
            {% if 'username' in session %}
            <input type="text" class="form-control" name="username" placeholder="Insert key here *leave empty for new key" value="{{ session['username'] }}" aria-describedby="basic-addon1">
            {% else %}
            <input type="text" class="form-control" name="username" placeholder="Insert key here *leave empty for new key" aria-describedby="basic-addon1">
            {% endif %}
        </div><br/>
        <strong>Note:</strong> sessions cost 1c each.<br/>
        <input type="submit" value="Checkout"></input>
    </form>
</div>
<br/>
{% endblock %}
