{% extends "base.html" %}
{% block content  %}
<script>
Dropzone.options.dropzone = {
  maxFilesize: 2048, // MB
};
</script>
<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
<center>   
	<h1>Upload new File</h1>
	<form action="/uploadz/{{ displayPath }}" method="post"  id="dropzone" class="dropzone">
		<div class="fallback">
			<input name="file" type="file" multiple />
		</div>
	</form>
</center>
<br/>
<center>
	<a class="btn btn-primary btn-lg" href="/download/{{ linker }}">Download link</a>
</center>
<br/>
<a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out my CyberStick http://www.cyberstick.click/download/{{ displayPath }}.">Tweet</a>
<script>
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>
<div style="display: inline-block;" class='skype-share' data-href='http://www.cyberstick.click/download/{{ displayPath }}' data-lang='' data-text='Check out my Cyberstick' data-style='small' >
</div>
<br/>
Please note:
<br/>
<ul>
	<li>You can also upload by clicking the box</li>
	<li>This session will be deleted in 15 minutes</li>
</ul>
{% endblock %}
